.user-card-wrapper {
    width: 90%;
    height: 5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    /* box-sizing: border-box; */

    padding: 5px;

    margin: 10px;

    border-radius: 10px;

    background: #161B22;
}


.gh-avatar-img {
    width: 3.5em;
    height: 3.5em;

    border-radius: 100%;

}

.gh-username {
    width: 100%;

    margin-top: 5px;
    margin-bottom: 5px;


    font-size: small;

    color: #58A6FF;
    /* background: yellow; */
}

.show-more-btn {
    width: 100%;

    margin-top: 5px;
    margin-bottom: 5px;

    border: none;

    cursor: pointer;

    color: #c5c5c5;

    background: none;
}

.user-card-wrapper:hover {
    box-shadow: 0px 0px 8px 2px rgba(200,200,200,0.7);
}