.user-card-wrapper {
    width: 90%;
    height: 5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    animation: cardAnimation 0.25s;

    /* box-sizing: border-box; */

    padding: 5px;

    margin: 10px;

    border: 0.4px solid rgba(200,200,200,0.25);
    border-radius: 10px;

    font-family: 'Roboto Mono', sans-serif;

    background: #161B22;
}


.gh-avatar-img {
    width: 3.5em;
    height: 3.5em;

    border-radius: 100%;

}

.gh-username {
    width: 100%;

    margin-top: 5px;
    margin-bottom: 5px;

    cursor: default;

    font-size: medium;

    color: white;
    /* color: #58A6FF; */
    /* background: yellow; */
}

.gh-html-url {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;

    margin-top: 5px;

    font-size: small;
    

    color: #58A6FF;
}

.link-icon {
    margin-right: 2px;

    transform: rotate(-45deg);

    font-size: medium;
}

.user-card-wrapper:hover {
    box-shadow: 0px 0px 8px 2px rgba(200,200,200,0.7);
}

@keyframes cardAnimation {
    0% {
        opacity: 0;
        margin-top: 40px;
    }
    50% {
        opacity: 1;
    }
    100% {

    }
}