.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: 'Roboto Mono', sans-serif;
  color: white;

  

}

.banner-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-size: 3em;

}

.banner-image {
  margin: 5px;
  margin-right: 15px;
  height: 1em;
  aspect-ratio: 1/1;
}
